[Unit]
Description=Set correct permission for keyboardlight on asus zenbook
DefaultDependencies=yes

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zenbook-light.sh -spkp

[Install]
WantedBy=multi-user.target
